@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
   RZO WARSZAWA<br />
    ul. Wymyślona 21<br />
    00-001 Warszawa<br /><br />
    <abbr>Telefon:</abbr>
    123 456 789
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:RZOWWA@RZO.pl">RZOWWA@RZO.pl</a><br />
</address>