@{
    ViewBag.Title = "Strona główna - Rejestr Osób Zaginionych";
}

<div class="jumbotron">
    <h1>Rejestr Osób Zaginionych</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witaj na naszej stronie</h2>
        <p>
            Skorzystaj z naszej ogromnej bazy danych osób zaginionych. Jeśli szukasz kogoś bliskiego, zarejestruj się, a następnie dodaj go do naszego katalogu.
        </p>
    </div>
</div>
